<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
         <h:outputStylesheet library="css" name="style.css"  />
        <title>activité</title>
    </h:head>
    <h:body>
        <ui:include src="menu.xhtml" /> <br/><br/>
        <c:choose>
            <c:when test="#{ativiteBean.activite == null}">
                <h:outputText   value="Acune activité à afficher"/>
            </c:when>
            <c:otherwise>
                <h:form>
                    <fieldset>
                        <legend>Activité n° #{ativiteBean.activite.id}</legend>
                        <h:panelGrid columns="2" class="myform">
                            <h:outputLabel>Libelé </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.actLib}"/>

                            <h:outputLabel>Code Activié </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.actCode}"/>

                            <h:outputLabel>Code Activié </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.actCode}"/>

                            <h:outputLabel>Niveau d'activié </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.actNivLib}"/>

                            <h:outputLabel>Nom de la commune </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.comLib}"/>

                            <h:outputLabel>Insee commune </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.comInsee}"/>

                            <h:outputLabel>Nom du département </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.depLib}"/>

                            <h:outputLabel>Code du départment </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.depCode}"/>

                            <h:outputLabel>Praticable </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.equActivitePraticable}"/>

                            <h:outputLabel>Pratiquée </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.equActivitePratique}"/>

                            <h:outputLabel>Equipement Salle Spe </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.equActiviteSalleSpe}"/>

                            <h:outputLabel>Nombre d'équipements identiques </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.equNbEquIdentique}"/>

                            <h:outputLabel>Identifiant d'équipement </h:outputLabel>
                            <h:inputText value="#{ativiteBean.activite.equipementId}"/>

                            <h:outputLabel><br/><br/>
                                <h:commandButton class="button1" action="#{ativiteBean.enregistrer()}" value="Enregistrer"></h:commandButton>
                            </h:outputLabel>
                        </h:panelGrid>
                    </fieldset>
                </h:form>  
            </c:otherwise>
        </c:choose>
    </h:body>
</html>

