<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="style.css"  />
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:head> 
            <ui:include src="menu.xhtml" /> 
        </h:head>
        <h2>Historique de vos recherches</h2>
        <br/>
        <h:form>
            <h:dataTable id="actList"  class="mytable"
                         value="#{rechercheBean.getHstorique(request.remoteUser)}" 
                         var="rechList" 
                         >
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText   value="#{rechList.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Dernière execution"/>
                    </f:facet>
                    <h:outputText   value="#{rechList.execDate}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nombre d'execution"/>
                    </f:facet>
                    <h:outputText   value="#{rechList.nbExec}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Critères"/>
                    </f:facet>
                    <h:outputText   value="#{rechList.critereOnString}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Afficher"/>
                    </f:facet>
                    <h:commandButton class="button2" action="#{rechercheBean.afficherRecherche(rechList.id)}" value="Afficher"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Supprimer"/>
                    </f:facet>
                    <h:commandButton class="button3" action="#{rechercheBean.suppRecherche(rechList.id)}" value="Supprimer"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>

