<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body>
        <div align="top">
            <ul>
                <li><h:link class="myLink" value="Profil"  /></li>
                <li><h:link class="myLink" value="Recherche" outcome="/users/recherche" /></li>
                <li><h:link class="myLink" value="Historique" outcome="/users/historique" /></li>
                <li><h:link class="myLink" value="Statistique" outcome="/users/statistique"/></li>
                <li style="width:44%"><h1 style="text-align:center">EASport</h1></li>
                <li style="width:20%"><h6>Utilisateur : #{request.remoteUser}</h6></li>
                <li>  <h:link class="myLink" value="Déconnexion" outcome="/logout"/></li>
            </ul>
        </div>
    </h:body>
</html>

