<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"    
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <h:outputStylesheet library="css" name="style.css"  />
        <title>EASport</title>
    </h:head>
    <h:body>
        <ui:include src="menu.xhtml" /> <br/><br/>
        <h:form>
            <fieldset>
                <legend>Rechercher des activités </legend>
                <h:panelGrid style="width:100%" columns="1" class="myform">
                    <h:dataTable  value="#{rechercheBean.recherche.criteresList}" 
                                  var="critList"
                                  >
                        <h:column>
                            <h:outputLabel for="#{critList.champsDonnee}">#{critList.etiquette} : </h:outputLabel>
                        </h:column>
                        <h:column>
                            <h:inputText value="#{critList.valeur}" />
                        </h:column>
                        <h:column>
                            <h:commandButton class="button4" action="#{rechercheBean.supprimerCritere(critList.champsDonnee)}" value="X"></h:commandButton>
                        </h:column>
                    </h:dataTable>
                    <h:outputLabel> Nouvelle Critère par                            
                        <h:selectOneMenu valueChangeListener="#{rechercheBean.ajouterCritere}"
                                         onchange ="submit()">
                            <f:selectItem itemValue="0" itemLabel="Select..." />
                            <f:selectItems value="#{rechercheBean.possibleCritere}" 
                                           var="critere" itemValue="#{critere.charAt(0)}" 
                                           itemLabel="#{critere.substring(2)}" >
                            </f:selectItems>
                        </h:selectOneMenu>
                    </h:outputLabel>
                    <br/><br/>
                    <h:panelGroup>
                        <h:outputLabel>
                            <h:commandButton class="button1" action="#{rechercheBean.initRecherche()}" value="Nouvelle recherche"></h:commandButton>
                        </h:outputLabel>
                        <h:outputLabel>
                            <h:commandButton class="button1" action="#{rechercheBean.executeRecherche()}" value="Valider recherche"></h:commandButton>
                        </h:outputLabel>
                    </h:panelGroup>
                </h:panelGrid>
            </fieldset>
        </h:form>          
    </h:body>
</html>

