<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <h:outputStylesheet library="css" name="style.css"  />
        <title>EA Sport</title>
    </h:head>
    <h:body>
        <h:head> 
            <ui:include src="menu.xhtml" /> 
        </h:head>
        <br/>
        <h2>Résultat de votre recherche</h2>
        <c:choose>
            <c:when test="#{rechercheBean.result.size() == 0}">
                <h:outputText   value="Aucun resultat! \n Veuillez modifier votre recherche"/>
            </c:when>
            <c:otherwise>
                <h4 value="#{rechercheBean.result.size()} activités trouvées " style="font-size:11px;">
                    #{rechercheBean.result.size()} activités trouvées
                </h4>
                <br/><br/>
                <h:form>
                    <h:dataTable id="actList" class="mytable" 
                                 value="#{rechercheBean.result}" 
                                 var="actList"
                                 >
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="ID" />
                            </f:facet>
                            <h:outputText   value="#{actList.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Activité (code)" />
                            </f:facet>
                            <h:outputText   value="#{actList.actLib} (#{actList.actCode})"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Departement (code)"/>
                            </f:facet>
                            <h:outputText   value="#{actList.depLib} (#{actList.depCode})"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Commune (Insee)"/>
                            </f:facet>
                            <h:outputText   value="#{actList.comLib} (#{actList.comInsee})"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Praticable" />
                            </f:facet>
                            <c:choose>
                                <c:when test="#{actList.equActivitePraticable == 0 }">
                                    <h:outputText   value="Oui"/>
                                </c:when>
                                <c:otherwise>
                                    <h:outputText   value="Non"/>
                                </c:otherwise>
                            </c:choose>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Pratiquée" />
                            </f:facet>
                            <c:choose>
                                <c:when test="#{actList.equActivitePratique == 0}">
                                    <h:outputText   value="Oui"/>
                                </c:when>
                                <c:otherwise>
                                    <h:outputText   value="Non"/>
                                </c:otherwise>
                            </c:choose>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Equipmt Salle spectacle" />
                            </f:facet>
                            <c:choose>
                                <c:when test="#{actList.equActiviteSalleSpe == 0}">
                                    <h:outputText   value="Oui"/>
                                </c:when>
                                <c:otherwise>
                                    <h:outputText   value="Non"/>
                                </c:otherwise>
                            </c:choose>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Equipement ID" />
                            </f:facet>
                            <h:outputText   value="#{actList.equipementId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Nbre d'eqmt identique" />
                            </f:facet>
                            <h:outputText   value="#{actList.equNbEquIdentique}"/>
                        </h:column>
                        <c:if test="#{request.isUserInRole('admin')}">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Modifier" />
                                </f:facet>
                                <h:commandButton class="button2" action="#{ativiteBean.afficher(actList)}" value="Modifier"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Supprimer" />
                                </f:facet>
                                <h:commandButton class="button3" action="#{ativiteBean.supprimer(actList)}" value="Supprimer"/>
                            </h:column>
                        </c:if>
                    </h:dataTable>
                </h:form>
            </c:otherwise>
        </c:choose>
    </h:body>
</html>

