<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:include src="menu.xhtml" /> <br/><br/>
        <h:panelGrid columns="2"  style="width:100%">
            <h:panelGroup style="width:50%" >
                <h:outputLabel style="width:50%">
                    <fieldset >
                        <legend>Les 5 départements les plus sportifs en France</legend>
                        <h:dataTable value="#{statistiqueBean.topFiveActDep}" 
                                     var="top1" 
                                     class="mytable"
                                     >
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="code departement"/>
                                </f:facet>
                                <h:outputText   value="#{top1[0]}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom departement"/>
                                </f:facet>
                                <h:outputText   value="#{top1[1]}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Nombre d'activités"/>
                                </f:facet>
                                <h:outputText   value="#{top1[2]}"/>
                            </h:column>
                        </h:dataTable>
                    </fieldset>
                </h:outputLabel>
                <h:outputLabel style="width:50%">
                    <fieldset>
                        <legend>Les 5 Equipement les plus polyvalants </legend>
                        <h:dataTable value="#{statistiqueBean.topFiveequipPolyv}" 
                                     var="top3"
                                     class="mytable"
                                     >
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Idantifiant de l'équipement"/>
                                </f:facet>
                                <h:outputText   value="#{top3[0]}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Nombre activités "/>
                                </f:facet>
                                <h:outputText   value="#{top3[1]}"/>
                            </h:column>
                        </h:dataTable>
                    </fieldset>
                </h:outputLabel>
            </h:panelGroup>
            <h:panelGroup style="width:50%">
                <h:outputLabel style="width:50%">
                    <fieldset>
                        <legend>Les 5 critères de recherche les plus utilisées </legend>
                        <h:dataTable value="#{statistiqueBean.topFiveCritere}" 
                                     var="top2"
                                     class="mytable"
                                     >
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Critère"/>
                                </f:facet>
                                <h:outputText   value="#{top2[0]}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Nombre d'utilisation"/>
                                </f:facet>
                                <h:outputText   value="#{top2[1]}"/>
                            </h:column>
                        </h:dataTable>
                    </fieldset>
                </h:outputLabel>
                <h:outputLabel style="width:50%">
                </h:outputLabel>
            </h:panelGroup>
        </h:panelGrid>


    </h:body>
</html>

