<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="style.css"  />
        <title>
            Error
        </title>
    </h:head>
    <h:body>
        <div align="top">
            <ul>
                <li style="width:100%"><h1 style="text-align:center">EASport</h1></li>
            </ul>
        </div>
        <br/><br/>
        <div align="center">
            <h2>Oups ! Petit probème mais ce n'est rien (u.u) </h2>
        </div>
    </h:body>
</html>

