<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="style.css"  />
        <title>Inscription</title>
    </h:head>
    <h:body>
        <div align="top">
            <ul>
                <li style="width:100%"><h1 style="text-align:center">EASport</h1></li>
            </ul>
        </div>
        <h:form>
            <fieldset>
                <legend>Création d'un nouveau compte</legend>
                <h:panelGrid columns="2" class="myform">
                    <h:outputLabel>Nom </h:outputLabel>
                    <h:inputText value="#{utilisateursBean.utilisateur.nom}"/>

                    <h:outputLabel>Prénom </h:outputLabel>
                    <h:inputText value="#{utilisateursBean.utilisateur.prenom}"/>

                    <h:outputLabel>Identifiant d'utilisateur * </h:outputLabel>
                    <h:inputText value="#{utilisateursBean.tmpLogin}"/>

                    <h:outputLabel>Mot de passe * </h:outputLabel>
                    <h:inputSecret value="#{utilisateursBean.utilisateur.password}"/>

                    <h:outputLabel>Confirmation mot de passe * </h:outputLabel>
                    <h:inputSecret value="#{utilisateursBean.confMotDePasse}"/>
                    <h:outputLabel><br/>
                        <h:button class="button1" outcome="/users/recherche" value="Annuler"/>
                    </h:outputLabel>
                    <h:outputLabel><br/>
                        <h:commandButton class="button1" action="#{utilisateursBean.register()}" value="Valider"></h:commandButton>
                    </h:outputLabel>
                </h:panelGrid>
            </fieldset>
        </h:form> 
                <div align="center">
            <h:dataTable id="messages" class="mytable" 
                         value="#{facesContext.messageList}" 
                         var="message"
                         >
                <h:column>
                    <h:outputText  style="color:#E41010"  value="#{message.detail}"/>
                </h:column>
            </h:dataTable>
        </div>
    </h:body>
</html>

