<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <h:head>
        <h:outputStylesheet library="css" name="style.css"  />
        <title>
            EASport
        </title>
    </h:head>
    <h:body>
        <div align="top">
            <ul>
                <li style="width:100%"><h1 style="text-align:center">EASport</h1></li>
            </ul>
        </div>
        <br/><br/>
        <div align="center">
            <h2>Login ou/et mot de passe incorrect ...</h2>
        </div>
        <br/>
        <div align="center">
            <h:panelGrid columns="2" class="myform" >
                <h:outputLabel>
                    <h:button value="Retour"  outcome="/users/recherche" class="button1" />
                </h:outputLabel>
                <h:outputLabel>
                    <h:button value="céer un nouveau compte"  outcome="inscription" class="button1" />
                </h:outputLabel>
            </h:panelGrid>
        </div>
    </h:body>
</html>
