<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <h:head>
        <h:outputStylesheet library="css" name="style.css"  />
        <title>
            EASport
        </title>
    </h:head>
    <h:body>
        <div align="top">
            <ul>
                <li style="width:100%"><h1 style="text-align:center">EASport</h1></li>
            </ul>
        </div>
        <br/><br/>
        <div align="center">
            <form name="loginForm" method="POST" action="j_security_check">
                <h:panelGrid columns="2" class="myform">
                    <h:outputLabel value="Nom d'utilisateur :"/>
                    <input type="text" name="j_username" size="25" required="true" />
                    <h:outputLabel value="Mot de passe :"/>
                    <input type="password" size="25" name="j_password"/>
                </h:panelGrid>
                <br/>
                <h:panelGrid columns="2" class="myform">
                    <input type="submit" value="Me connecter" class="button1"/>
                </h:panelGrid>
            </form>
            <h:button value="céer un nouveau compte"  outcome="inscription" class="button1" />
        </div>
    </h:body>
</html>